.chat {
    padding: 0px;
    /* display: inline; */
     display: flex;
    flex-direction: column; 
    justify-content: end;
    width: 73vw;
    height: 93vh;
    /* border-radius: 15px ; */
    background-image: url('../../UI/img/цвяточек.jpg');
    background-position: center;
    background-size: cover;
    
    
}

.div {
    background-color: #a8aeba;
}

.message__box {
    /* background-color: #a8aeba; */
    /* display: inline-block; */
     display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: end;
    list-style: none;
    overflow-y: auto; 
    
    /* overflow-wrap: break-word; */
}

.message {
    justify-self: start;
    
    /* flex-grow: 1; */
    /* overflow-wrap: break-word; */
    /* vertical-align: middle; */
    display: block;
    width: auto;
    height: auto;
    min-height: 51px;
    margin: 15px;
    word-wrap: break-word;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    border-radius:25px;
    padding: 5px 15px;
    max-width: 500px; ;
    box-shadow: 0 0 15px #efefef;
    background-color: #000000;
    /* background-image: linear-gradient( #d4d4dc 0%, #004cff 99%); */

}


.message__box::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
    
    }
    
    .message__box::-webkit-scrollbar-track {
    background-color: #393f4d;
    border-radius: 100px;
    box-shadow: inset 0px 0px 5px  rgb(0, 0, 0);
    
    }
    
    .message__box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(180deg,#393f4d 0%, #d4d4dc 50%, #393f4d 99%);
    background-color: #d4d4dc;
    transition: ease all 3s;
    }

    .message__box::-webkit-scrollbar-thumb:hover {
        background-color: #a8aeba;
        background-image: none;
        /* background-image: linear-gradient(rgb(57, 63, 77) 99%); */
    
    }