.absolute {
  display: absolute;
}

.logo {
  position: absolute;
    top: 0.5%;
     caret-color: transparent;
    width: 40px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 10s ease-in-out;
    }
  }
  
  .header {
     caret-color: transparent;
    padding: 10px;
    grid-area: hed;
    box-shadow: 0px 0px 10px #000000;
    background-color: #393f4d;
    /* border-radius: 0px 0px 20px 20px; */
  }

  @keyframes App-logo-spin {
    0% {
      transform: translateX(0vw);
    }
    50% {
      transform: translateX(94vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }