.btn__style {
    font-weight: 900;
    font-size: 24px;
    color: #1d1e22  ;
    cursor: pointer;
    background-color:#feda6a;
    /* max-width: 200px; */
    padding: 4px 25px;
    /* width: auto; */
    margin: 0px;
    margin-top: 15px;
    height: 100%;
    display: flex;
    box-shadow: 0 6px 7px #000000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 3px 7px #000000;
    border: solid 2px #1d1e22;
    transition: box-shadow .1s;
}

.btn__style:hover {
    box-shadow:  0px 5px 25px #000000;
}

.btn__style:active {
    box-shadow:  0px 0px 5px #000000;
}

.text {
    transform: translateY(-2px);
}

@media screen and (width < 640px) {
    .btn__style {
        width: 150px;
        align-self: center;
    }
}